  .mainPage {
    display: grid;
    /* grid-template-rows: 600px auto; */
  }

  .Top100 {
    height: 1000px;
    display: grid;
    justify-items: center;
    /* grid-template-rows: 1fr 1fr 8fr; */
  }
  
  .Top100 > h1 {
    margin-top: 75px;
    
    font-size: 55px;
    text-align: center;
    line-height: 75px;
    color: var(--main-color);
  }  
  .box {
    background-color: rgb(165, 165, 165);
    height: 200px;
    width: 300px;
  }
  
  .more {
    width: 380px;
    height: 53px;
    background-color: white;
    border-radius: 40px;
    box-shadow: var(--main-box-shadow);
    text-align: center;
    margin-top: 50px;
  }
  .more > span {
    position: relative;
    top: 13px;
    font-size: 18px;
  }
/* 스와이퍼 내용은 App.css에 있음*/


  /* 필터 */
  .filterSection {
    display: grid;
  }
  h2 {
    font-size: 55px;
    /* color:#FE900F; */
    color: var(--main-color);
    
    /* position: sticky;
    top: 80px; */
    
  }
  .filterContainer {
    display: grid;
    grid-template-columns: 460px 70vw;
    place-items: start;
  }
  .filter_box {
    display: grid;
    height: 100vh;
    width: 380px;
    padding-left: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    row-gap: 50px;
    /* justify-items: center; */
    align-items: start;
    background-color: white;
    border-radius: 0px 50px 0px 0px;
    box-shadow: var(--main-box-shadow);
    /* margin-right: 40px; */

    position: sticky;
    top: 30px;
  }
  /* 필터 타이틀 */
  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .filter_box:first-child {
    padding-top: 50px;
  }


  /* 체크박스 */
  #checkBoxList{
    display: grid;
    grid-template-columns: 1fr 1fr;   
  }

  #checkBoxList > label{
    margin: 6px;
  }

  .circle{
    /* 영역적용 */
    display: inline-block; 
    width: 20px;
    height: 20px;
    border: 2px solid #ff9922;
    /* 테두리를 영역안으로 인사이드 */
    box-sizing: border-box;
    border-radius: 100%;
    position: relative; top: 4px;
    /* 마우스 손모양 */
    cursor: pointer;
  }
  /* 체크박스가 체크되면  */
  .cBox:checked + .circle {
    background-color: #ff9922;
    transition: 0.1s;
  }
  /* 체크박스 안보이기 */
  .cBox{
    appearance: none;
  }
  
  .text {
    margin-left: 20px;
  }

  .emoji {
    height: 22px;
    margin-left: 10px;
    position: relative;
    top:8px;
  }

  /* 슬라이더 */
  
  .slider {
    margin-left: 35px;
  }
  
  #checkBoxList {
    display: grid;
    grid-template-rows: auto;
  }

  .MuiSlider-markLabel{
    font-size: 20px;
  }

  .slider_label {
    font-size: 12px;
    text-align: center;
  }
  .slider_label > img {
    height: 30px;
    margin-bottom: 5px;
    
  }
  
  /* 검색버튼 */
  #filterBtn {
    
    height: 40px;
    width: 300px;
    background-color: rgb(255, 214, 181);
    border: none;
    border-radius: 30px;
    
    color: var(--main-color);
    
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
    
  }
  #filterBtn:hover {

    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    /* transform: scale(1.05); */
    transition: 0.1s;
  }
 

  .result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .cardContainer {
    /* 아이템 가운데 정렬 */
    justify-self: center;
    
    /* 그리드 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    place-items: center center;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly; */

  }

/* 반응형 */
@media (max-width: 1530px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);

    }
}
@media (max-width: 1300px) {
  .filterContainer {
    grid-template-columns: 410px 600px;
  }

  .cardContainer {
    grid-template-columns: repeat(2, 1fr);

    }
}


