.mainPage{
    display: grid;
    grid-template-rows: 600px auto;
}
.Top100{
    display: grid;
    justify-items: center;
}
.box {
    background-color: rgb(165, 165, 165);
    height: 200px;
    width: 300px;
}

.filterSection{
    display: grid;
}
.filterContainer{
    display: flex;
    align-items: flex-start;
}
.filter{
    display: grid;
    align-items: start;
    background-color: rgb(211, 211, 211);;
    height: 100vh;
    width: 500px;
    margin-right: 40px;
}

.result{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}


/* 필터 */

.slider{
    margin-left: 30px;
}
