.card {
  position: relative;
}
.star_unclick {
  height: 30px;
  position: absolute;
  top: 5px;
  left: 45%;
  filter: opacity(0.3)
}

.star_clicked {
  height: 30px;
  position: absolute;
  top: 5px;
  left: 45%;
}

.imgContainer {
  display: grid;
  grid-template-rows: 87% 13%;
  width: 230px;
  height: 250px;
  background: #ffffff;
  box-shadow: var(--main-box-shadow);
  border-radius: 40px;
}

.imgCocktail {
  width: 100px;
  height: 180px;
  margin: auto;
  display: block;
}

.cocktailName {
  font-size: 16px;
  text-align: center;
  /* position: absolute; */
}

.true_star_icon {
  display: block;
  transform: scale(2);
  background-color: yellow;
  position: relative;
  /* top: 40px; */

  left: 46%;
}
.false_star_icon {
  display: block;
  transform: scale(2);
  background-color: white;
}
.molba {
  width: 50px;
}