.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  
  .box {
    background-color: hotpink;
    height: 400px;
    width: 400px;
  }
  
  .text_box {
    font-size: 18px;
    margin-left: 50px;
  }
  
  .text_box > h1 {
    text-align: start;
  }
  
  .info {
    margin-top: 50px;
  }
  
  .ingredients {
    margin-top: 50px;
    list-style: none;
    grid-template-columns: 1fr;
  }
  
  .ingredients > li {
    font-size: 18px;
    padding: 0;
    justify-self: unset;
    /* white-space: normal; */
    margin-bottom: 10px;
  }
  
  .mix {
    margin-top: 50px;
  }
  .tags_box{
    margin-top: 30px;
    width: 750px;
    display: flex;
    grid-template-columns: repeat(6, auto);
    /* 줄바꿈 */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 18px;
  }
  .hashtag{
    color: #3a5ddf;
    background-color: #c8d4ff;
    /* border: 2px solid #5271e4; */
    border-radius: 30px;
    padding: 4px 7px 4px 7px;    
  }
  .TOP{
    color: rgb(247, 55, 71);
    background-color: rgb(255, 215, 215);
  }
  