.container {
  height: 100vh;
  /* width: 100vw;
  background-color: rgb(245, 245, 245); */

}

.img_box {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 500px;
  position: fixed;

  z-index: 1;

}

.text_box {
  font-size: 18px;
  background-color: rgb(245, 245, 245);

  height: 100vh;
  width: auto;
  z-index: 0;
  position: absolute;
  top: 70px;
  left: 500px;

}

/* .tinfo_text > h1 {
  text-align: start;
  margin-top: 50px;
} */

.info {
  /* width: 100%; */
  height: 150vh;
  z-index: 0;
  
  
  /* position: -webkit-sticky; */

}

/* 칵테일 이름 */
.info_text > h1 {
  color: var(--main-color);
  padding-top: 20px;
  font-size: 70px;
}
.info_text {
  position: fixed;
  top: 0px;
  padding-top: 150px;
  /* 줄바꿈 */
  white-space: nowrap;
  padding-left: 80px;
  text-align: center;
  width: 50%;
}

.tags_box {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.hashtag {
  color: #3a5ddf;
  background-color: #c8d4ff;
  /* border: 2px solid #5271e4; */
  border-radius: 30px;
  padding: 4px 7px 4px 7px;
  /* margin: 10px; */
  /* width: 200px; */

  display: flex;
}
.TOP {
  color: rgb(247, 55, 71);
  background-color: rgb(255, 215, 215);
}

.hash_emoji {
height: 20px;
margin-left: 3px;
}

/* base falvor */
.bf {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.base, .flavor {
  font-size: 14px;
  color: rgb(121, 121, 121);
}
.base_img, .flavor_img{
  display: flex;
  height : 70px;
  padding: 15px 40px 15px 40px;
  
}
.base_name, .flavor_name{
  /* color: var(--main-color); */
  font-weight: 500;
  font-size: 22px;
  color: black;
}

/* 알콜세기 */
.slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;

}


.recipe{
  background-color: rgba(255, 140, 0, 0.955);
  height: 100vh;
  width: 100vw;
  
  z-index: 1;

  position: sticky;
  margin-top: 80vh;
  top: 70px;
  left: 500px;

  padding-top: 50px;
  padding-left: 80px;
  /* white-space: wrap; */
  
}

.recipe_title {
  font-size: 60px;
  font-weight: 800;
  color: white;
  text-align: center;
  width: 50%;
}

.ingredients {
  font-weight: 800;
  color: white;
  margin-top: 50px;
  list-style: none;
  grid-template-columns: 1fr;
  
}

.ingredients > li {
  
  font-size: 18px;
  padding: 0;
  justify-self: unset;
  white-space: normal;
  margin-bottom: 10px;
  width: 40%;

}

.mix {
  margin-top: 50px;
  font-weight: 600;
  color: white;
  width: 40%;
  line-height: 2.5em;
  /* white-space: pre-line; */
  word-break: keep-all;
}
  
.MuiSlider-markLabel {
    font-size: 20px;
  }