.Find{
  /* 가운데 정렬 페이지*/
  display: grid;
  grid-template-rows: 250px;
  place-items: center;
  min-height: 100vh;
}

/* 검색창 */
.search_space{
  margin-top: 60px;
  display: grid;
  place-items: center;
}
.search_space > h3 {
  font-size: 20px;
  color: rgb(136, 136, 136);
  
}

/*form 태그 스타일*/
.search_box{
  width: 600px;
  height: 45px;
  display: flex;
  justify-content: center;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px #dcdcdc;

}
/* select 태그 스타일*/
select {
  -ms-appearance: none;
  width: 120px;
  outline: 0;
  border-color: white;
  box-shadow: none;
  font-size: 10px;
  position: relative;
  display: flex;
  font-size: 16px;
  padding: 0 10px 0 20px;
  cursor: pointer;
  margin-top: 10px;
}

option {
  font-size: 15px;
}

/* input 태그 스타일*/
.search_input {
  width: 380px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  transition: 0.4s;
  float: left;
  line-height: 40px;
  padding: 10px 25px;
  position: relative;
  display: flex;
}
.inputSearchBox {
  display: flex;
}

.search_btn {
  color: var(--main-color);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-top: 10px;
  /* 사이즈 */
  transform: scale(1.5);
}

/* 해시태그 */
.tags_box{
  margin-top: 30px;
  width: 750px;
  display: flex;
  grid-template-columns: repeat(6, auto);
  /* 줄바꿈 */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 18px;
}
.hashtag{
  color: #3a5ddf;
  background-color: #c8d4ff;
  /* border: 2px solid #5271e4; */
  border-radius: 30px;
  padding: 4px 7px 4px 7px;    
}

.TOP{
  color: rgb(247, 55, 71);
  background-color: rgb(255, 215, 215);
}

.hash_emoji {
  height: 20px;
  position: relative;
  top: 5px;
  margin-left: 3px;
}

/* 체크박스가 체크되면  */
.cBox:checked + .hashtag {
  background-color: #476df7;
  color: white;
  transition: 0.1s;
}
/* 체크박스 안보이기 */
.cBox{
  appearance: none;
}

.cBox:checked + .TOP {
  background-color: rgb(252, 82, 96);
}

/* 카드 */
.cardContainer {
  margin-top: 70px;
  width: 800px;
  /* 아이템 가운데 정렬 */
  place-items: center center;
  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  
}
