.box{
    height: 70px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 20px;
}

li {
    list-style-type: none;
    /* 가로로 배열 */
    float: left; 
    margin-left: 40px;
}

.scroll{
    /* 위치지정 필요 */
    position: fixed;
    z-index: 1;
    /* top: 90%; */
    bottom: 20px;
    float: left;
    
}
.scroll> img{
    height: 40px;
}