.box{
    height: 70px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 20px;
}

li {
    list-style-type: none;
    /* 가로로 배열 */
    float: left; 
    margin-left: 40px;
}

.scroll{
    background-color: rgb(218, 218, 218);;
    /* 위치지정 필요 */
    position:sticky;
  

}