:root {
  --main-color: #fe900f;
  --main-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  font-family: "paybooc-Medium";
  /* font-family: 'IBMPlexSansKR-Medium'; */
}
@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#pages {
  padding-top: 70px;
}

/* 스와이퍼 */

/* .swiper-initialized {
  width: 100%;
  background-color: plum;
} */
.swiper {
  width: 100%;
  /* justify-content: space-between; */
}
.swiper-wrapper {
  align-items: flex-end;
  /* justify-items: space-between; */
}
.swiper-containe {
  height: 50px;
  width: 100%;
}

/* .swiper-slide-active { */
/* transform: scale(5); */
/* margin: 0 20px 0 20px; */
/* } */

.swiper-slide img {
  height: 200px;
  /* background-color: red; */
  padding: 20px;
  position: relative;
  bottom: -50px;
}
.swiper-slide-active img {
  transform: scale(1.5);

  transition: 0.1s;
  /* background-color: yellow; */
  bottom: 0px;
  margin-bottom: 0px;
  /* height: 300px; */
}

/* @font-face {
  font-family: 'IBMPlexSansKR-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* .App {
  text-align: center;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
