.card{
      background-image: url(https://images.cocktailflow.com/v1/cocktail/w_300,h_540/cocktail_mango_lime_virgin_margarita-1.png);
      background-position: center;
      background-size: 80%;
      /* background-color: rgb(255, 187, 0); */
      height: 180px;
      width: 180px;
      border: 3px solid orange;
      border-radius: 25px;
      display: flex;
    }


